/*

*/
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
    padding-top: 60px;
}

header {
    background-image: linear-gradient(to top right, #5390a9, #95b4a2);
    color: #fff;
    padding: 30px 0;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 3; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.header-sticky {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.logo {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
}

.logo a {
    color: #52431c;
    text-decoration: none;
    font-size: 140%;
    font-weight: bold;
}

.search-bar {
    position: absolute;
    right: 10px;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    width: 200px;
}

.search-bar button {
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #5390a5;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search-bar button:hover {
    background-color: #0056b3;
}

nav {
    background-image: linear-gradient(to bottom left, #5390a5, #95b4a2);
    padding: 10px;
    width: 75px;
    margin-top: -60px;
    position: fixed;
    z-index: 4;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 1000px;
}

.nav-profile > a {
    position: relative;
    margin: 100%;
}

.nav-item {
    position: relative;
    display: inline-block;
    /*background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-minimalistic-concept-blue-and-yellow-wall-with-empty-bookshelf-in-3d-image_3636762.jpg');
    */
    box-shadow: 1px 10px 150px 50px rgba(0, 0, 0, 0);
    background-position: center; /* Center the background image */
    background-repeat: repeat ;
    background-attachment:local;
    background-size: 1100%;
    background-position-y: -50px;
    background-position-x: 700px;
}

.nav-item > a {
    color: #fff;
    padding: 10px 10px;
    padding-top: 40px;
    text-decoration: none;
    display: block;
    padding-bottom: 40%;
}

.nav-item > a:hover {
    background-color: #e68804;
    width: 65px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 0%;
    left: 85px;
    background-color: #ee9972;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 16px;
}

.dropdown-menu li {
    border-bottom: 1px solid #444;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #575757;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.shelves {
    padding-left: 65px;
}

.carousel-container {
    width: 108%;
    max-width: 1450px;
    overflow-y: hidden; /* Hide overflow to create a sliding effect */
    overflow-x: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding:60px; /* Optional: Add padding for aesthetics */
    /*background-image: url('https://www.shutterstock.com/image-photo/wooden-book-shelf-blank-board-260nw-1381131713.jpg'); /* URL of your background image */
    background-image: url('https://img.clipart-library.com/2/clip-empty-shelf/clip-empty-shelf-0.jpg');
    box-shadow: 1px 10px 150px 50px rgba(0, 0, 0, 0.3);
    background-position: center; /* Center the background image */
    background-repeat: repeat ;
    background-attachment:local;
    background-size: 125%;
    background-position-y: -60px;
    background-position-x: -165px;
}

.carousel {
    display: inline-flex;
    white-space: nowrap;
    transition: transform 0.5s ease;
}

.carousel-item {
    display: inline-block;
    min-width: 170px; /* Base width of each box */
    height: 250px; /* Height of each box */
    background-image: linear-gradient(to top right, #95b4a2,#5390a9);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px; /* Spacing between boxes */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Smooth transition for scaling */
    transform: scale(1); /* Default size */
}
s
.carousel-item:hover {
    transform: scale(1.2); /* Scale the hovered item up */
    z-index: 2; /* Ensure the enlarged item appears above others */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}


/* Content for Contact page*/
.contact-main {
    background-image: linear-gradient(to top right, #9ab5a6, #357b70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 603px;
    margin-left: 95px;
    padding : 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-item {
    margin: 10px 0;
}

.contact-item a {
    text-decoration: none;
    color: #1a599c; /* Link color */
    font-weight: bold;
}

.contact-item a:hover {
    
    text-decoration: underline; /* Underline on hover */
}
