.shelf-navbar {
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.shelf-nav-left, .shelf-nav-right {
  display: flex;
  align-items: center;
}

.shelf-nav-right {
  gap: 10px;
}

/* Button containers */
.shelf-nav-right .tooltip-container {
  width: 40px;
  height: 40px;
}

/* Style each button/icon consistently */
.add-button {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: none;
}

.settings-icon {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: contain;
}

.delete-shelf-button {
  width: 100%;
  height: 100%;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

/* Hover effects */
.add-button:hover,
.settings-icon:hover,
.delete-shelf-button:hover {
  background-color: #b0afaf;
  border-radius: 50%;
  transition: all 0.3s ease;
}