.side-navbar {
  width: 250px;
  background-color: #f0f0f0;
  height: calc(100vh - 60px); /* Adjust based on your top navbar height */
  position: fixed;
  top: 60px; /* Adjust based on your top navbar height */
  left: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.shelf-buttons-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.shelf-item {
  margin-bottom: 0px;
}

.shelf-button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.shelf-button:hover, .shelf-button.selected {
  background-color: #e0e0e0;
}

.shelf-description {
  max-height: 0;
  overflow: hidden;
  background-color: #e8e8e8;
  transition: max-height 0.3s ease-out, padding 0.3s ease;
  padding: 0 15px;
}

.shelf-description.expanded {
  max-height: 200px; /* Adjust based on your needs */
  padding: 10px 15px;
}

.add-shelf-button {
  margin-top: auto; /* Push to the bottom of the flex container */
  text-align: left;
  color: #333; /* Adjust color to match other buttons */
}

.add-shelf-button:hover {
  background-color: #e0e0e0; /* Same hover effect as other buttons */
}