<!--

-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A brief description">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Diego Arriaga">
        
        <title>KeeperAI</title>

        <link rel="stylesheet" href="../../public/css/styles.css">
        <script src="../../public/js/script.js" defer></script>
        
        
    </head>
    <body>
        <header>
            <div class="header-sticky">
                <div class="logo">
                    <a href="index.html">KeeperAI</a>
                </div>
                <div class="search-bar">
                    <form action="/search" method="get" class="search-form">
                        <input type="text" name="query" placeholder="Search..." class="search-input">
                        <button type="submit" class="search-button">Search</button>
                    </form>
                </div>  
            </div>
            
        </header>

        <main>
            <div>
                <nav>
                    <ul class="nav-menu">
                        <li class="nav-profile">
                            <a href="/profile.html" >
                                <img src="https://cdn1.iconfinder.com/data/icons/essentials-pack/96/user_account_profile_avatar_person-512.png" alt="Profile image" width="40" height="40">
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="#">Services</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Add</a></li>
                                <li><a href="#">Previous</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#">Catalog</a></li>
                        <li class="nav-item"><a href="#">About</a></li>
                        <li class="nav-item"><a href="../views/contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="shelves">
                <div class="carousel-container">
                    <div class="carousel">
                        <div class="carousel-item" data-text="Details about Box 1">Book 1</div>
                        <div class="carousel-item" data-text="Details about Box 2">Book 2</div>
                        <div class="carousel-item" data-text="Details about Box 3">Book 3</div>
                        <div class="carousel-item" data-text="Details about Box 4">Book 4</div>
                        <div class="carousel-item" data-text="Details about Box 5">Book 5</div>
                        <div class="carousel-item" data-text="Details about Box 6">Book 6</div>
                        <div class="carousel-item" data-text="Details about Box 7">Book 7</div>
                    </div>
                </div>
            </div>
            <div class="shelves">
                <div class="carousel-container">
                    <div class="carousel">
                        <div class="carousel-item" data-text="Details about Box 1">Book 1</div>
                        <div class="carousel-item" data-text="Details about Box 2">Book 2</div>
                        <div class="carousel-item" data-text="Details about Box 3">Book 3</div>
                        <div class="carousel-item" data-text="Details about Box 4">Book 4</div>
                        <div class="carousel-item" data-text="Details about Box 5">Book 5</div>
                        <div class="carousel-item" data-text="Details about Box 6">Book 6</div>
                        <div class="carousel-item" data-text="Details about Box 7">Book 7</div>
                    </div>
                </div>
            </div>
            <div class="shelves">
                <div class="carousel-container">
                    <div class="carousel">
                        <div class="carousel-item" data-text="Details about Box 1">Book 1</div>
                        <div class="carousel-item" data-text="Details about Box 2">Book 2</div>
                        <div class="carousel-item" data-text="Details about Box 3">Book 3</div>
                        <div class="carousel-item" data-text="Details about Box 4">Book 4</div>
                        <div class="carousel-item" data-text="Details about Box 5">Book 5</div>
                        <div class="carousel-item" data-text="Details about Box 6">Book 6</div>
                        <div class="carousel-item" data-text="Details about Box 7">Book 7</div>
                    </div>
                </div>
            </div>
            
        </main>

        <footer>
        </footer>
    </body>
</html>
