node_modules
.pnp
.pnp.js

# Production
/dist
/build

# Environment files

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories
.vscode
.idea
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db